$header_background_color: #5c7786;
$main_background_color: #6D8EA0;
$form_background_color: #213066;
$form_border_color: #536fb1;
$form_input_color: #7b94d8;
$form_button_color: #2b4fa3;
$form_error_message_color: #e95454;
$fieldset_shadow_color: #576CA8;
$footer_background_color: #4e6572;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background: linear-gradient(to bottom, $header_background_color 0%, $main_background_color 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 32rem;
}

.header__titulo_principal {
    font-size: 1.5rem;
    text-align: center;
}

.header__logo {
    width: 6rem;
    padding: 0.5rem;
}

.main {
    background-color: $main_background_color;
    display: block;
    min-width: 32rem;
}

.main__titulo_seccion {
    text-align: center;
    padding: 2rem;
}

.main__general_text {
    text-align: justify;
    padding: 1.2rem;
}

.main__form_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form_container__form {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $form_background_color;
    margin: 2rem;
    padding: 2rem;
    border: 0.1rem solid $form_border_color;
    border-radius: 0 2rem 2rem 0;
    min-width: 28rem;
    box-shadow: 0.3rem 0.3rem 0.5rem 0rem $form_button_color;
}

.form_container__fieldset {
    max-width: 32rem;
    padding: 1rem;
    border-radius: 0 2rem 2rem 0;
    margin: 0.5rem 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem 0rem $fieldset_shadow_color;
}

.form_container__fieldset legend {
    font-weight: bold;
    padding: 0 1rem;
    margin: 0 1rem;
}

.form_container__label {
    display: block;
}

.form_container__label * {
    vertical-align: middle;
    padding: 0.2rem;
    margin: 1rem 0;
}

.form_container__saasicon {
    height: 1.5rem;
}

.form_container__input {
    background-color: $form_input_color;
    width: 100%;
    font-weight: bold;
}

.form_container__checkbox {
    text-align: start;
}

.form_container__text, .form_container__text--error {
    text-align: justify;
}

.form_container__text--error {
    color: $form_error_message_color;
}

.form_container__results {
    display: none;
    background-color: #25426e;
    border: 0.2rem dotted #2d7aee;
    border-radius: 2rem;
}

.form_container__results p {
    color: #FFFFFF;
    font-weight: bold;
    text-align: justify;
    padding: 1rem;
}

.form_container__main_button {
    color: white;
    width: 100%;
    background-color: $form_button_color;
    padding: 1.5rem;
    border: 0.2rem solid rgba(255,255,255,0.3);
    border-radius: 1.5rem;
    margin: 1rem auto;
}

.form_container__main_button:hover {
    cursor: pointer;
}

.footer {
    background: linear-gradient(to bottom, $main_background_color 0%, $header_background_color 100%);
    padding: 2rem 0;
    text-align: center;
  }
  
.footer hr {
    width: 90vw;
    border: 0.1rem solid #424242;
}
  
.footer__copyright {
    font-weight: bold;
}

@media only screen and (min-width: 380px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (min-width: 780px) {
    html {
        font-size: 12px;
    }
}